<%- layout('layouts/main')%>
<div class="main">
    <div class="topbar">
        <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
    </div>

    <!--  Contenido  -->
    <div class="container-xxl mt-3 my-4">
        <h2 class="ps-3"><i class="bi bi-person-plus-fill"></i>&nbsp;<%= PageTitle %></h2>
        <div class="container">
            <form class="p-3 needs-validation was-validated" action="/family/add" method="POST"
                enctype="multipart/form-data">
                <div class="container-fluid mt-3 border bloque g-3" style="border-color: white !important">
                        <div style='height:20px;'>
                        <p
                            style="color: #00909E; margin-top:-12px; width: 145px; margin-left:15px; font-size:15px; background:#DAE1E7;">
                            Informacion Personal</p>
                        </div>
                    <div class="row ps-3 pe-3 pb-4">
                        <div class="col-sm-6 mt-2">
                            <label for="cedulaIdentidad" class="form-label">Cedula de Identidad:</label>
                            <input type="text" class="form-control" id="cedulaIdentidad" name="identify" value="" required="">
                            <div class="invalid-feedback">
                                Por favor ingrese su cédula
                            </div>
                        </div>
                        <div class="col-sm-6 mt-2">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="first_name" required="">
                            <div class="invalid-feedback">
                                Por favor ingrese su Nombre
                            </div>
                        </div>
                        <div class="col-sm-6 mt-3">
                            <label for="apellido" class="form-label">Apellido:</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="apellido" name="last_name" required="">
                            <div class="invalid-feedback">
                                Por favor ingrese su Apellido
                            </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mt-3">
                            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
                            <input type="date" class="form-control" id="fechaNacimiento" min="1920-01-01" max="2020-12-30" name="birth_date" required=""> 
                            <div class="invalid-feedback">
                                Por favor ingrese su Fecha de nacimiento
                            </div>
                        </div>

                        <div class="col-sm-6 mt-3">
                            <label for="edadanadir" class="form-label">Edad:</label>
                            <input type="number" class="form-control" id="edadanadir" name="age" required="">
                            <div class="invalid-feedback">
                                Por favor ingrese su Fecha de nacimiento
                            </div>
                        </div>

                        <div class="col-sm-6 mt-3">
                            <label for="correo" class="form-label">Correo Electronico:</label>
                            <input type="email" class="form-control" id="correo" name="email" required="">
                            <div class="invalid-feedback">
                                Por favor ingrese su Correo Electrónico
                            </div>
                        </div>

                        <div class="col-sm-12 mt-3">
                            <label for="direccion" class="form-label">Dirección:</label>
                            <input type="text" class="form-control" id="direccion" name="address" required="">
                            <div class="invalid-feedback">
                                Por favor ingrese su dirección
                            </div>
                        </div>

                        <div class="col-sm-6 mt-3">
                            <label for="latitud" class="form-label">Latitud: </label>
                            <input class="form-control" id="latitud" name="latitude" required="">
                        </div>
                        <div class="col-sm-6 mt-3">
                          <label for="longitud" class="form-label">Longitud: </label>
                            <input class="form-control" id="longitud" name="longitud" required="">
                        </div>
                        <div class="col-sm-12 mt-3" style="display: flex;
                        margin-top: -72px !important;
                        justify-content: end;
                        height: 30px;
                    ">
                            <a class="btn btn-danger btn-sm text-white" id="Mapa" role="button" data-bs-toggle="modal" data-bs-target="#map"><i class="bi bi-pin-map"></i>  Ubicacion</a>
                          </div>
                        <div class="col-sm-12 mt-3">
                            <label for="imagen" class="form-label">Foto:</label>
                            <input type="file" class="form-control" id="image" placeholder="Foto de la persona"
                                name="image" required="">
                            <div class="invalid-feedback">
                                Por favor seleccione una imagen de la persona
                            </div>
                        </div>

                    </div>
                </div>
                <div class="container-fluid border bloque mt-5" style="border-color: white !important">
                    <p
                        style="color: #00909E; margin-top:-12px; width: 135px; margin-left:15px; font-size:15px; background:#DAE1E7;">
                        Informacion Medica
                    </p>
                    <div class="row ps-3 pe-3 pb-4">
                        <div class="col-sm-6 mt-2">
                            <label for="tipoSangre" class="form-label">Tipo de Sangre:</label>
                            <select class="form-select" aria-label="Default select example" name="blood_type" required="">
                                <option selected></option>
                                <option value="1">A+</option>
                                <option value="2">A-</option>
                                <option value="3">B+</option>
                                <option value="4">B-</option>
                                <option value="5">O+</option>
                                <option value="6">O-</option>
                                <option value="7">AB+</option>
                                <option value="8">AB-</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor ingrese su tipo de Sangre
                            </div>
                        </div>
                        <div class="col-sm-6 mt-2">
                            <label for="alergias" class="form-label">Alergias:</label>
                            <input type="text" class="form-control" id="alergias" name="allergies" required="">
                            <div class="invalid-feedback">
                                Por favor ingrese alergias
                            </div>
                        </div>
                        <div class="col-sm-6 mt-3">
                            <label for="discapacidad" class="form-label">Discapacidad (%):</label>
                            <input type="number" class="form-control" id="discapacidad" name="disability" required="">
                            <div class="invalid-feedback">
                                Por favor ingrese el porcentaje de discapacidad
                            </div>
                        </div>

                        <div class="col-sm-6 mt-3">
                            <label for="medicamentos" class="form-label">Medicamentos (Describa):</label>
                            <textarea class="form-control" id="medicamentos" name="medices" required="" rows="1"></textarea>
                            <div class="invalid-feedback">
                                Por favor ingrese describa medicamentos que consume
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto mt-3">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ('./partials/map') %> 