<%- layout('layouts/main')%>
<div class="main">
  <div class="topbar">
    <div class="toggle">
      <ion-icon name="menu-outline"></ion-icon>
    </div>
  </div>

  <!--  Contenido  -->
  <div class="container-xxl mt-3 my-4 row justify-content-center">
    <h2><%= PageTitle %></h2>
  <% 'contenido' %>
  </div>
</div>