<div class="modal fade" id="map" tabindex="-1" aria-labelledby="mapLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"><div class="col-12" style="display: flex; position: absolute; font-size: 20px; justify-content: end; margin-top: 5px; margin-left: -10px;"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
        <div class="modal-header">
                
                <div id="mapa" style="width: 100%; height: 75vh;" class="pt-3 mt-4"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>